@import url(https://fonts.bunny.net/css?family=aldrich:400);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  min-height: 100vh;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  font-family: 'Aldrich', sans-serif;
}

header {
  padding: 3rem 0 1.7rem;
}

h1 {
  color: goldenrod;
  font-size: 3.7rem;
}

a {
  text-decoration: none;
}

.card {
  width: 300px;
  margin: 0 auto 3rem;
  border-radius: 1.2em;
  box-shadow: 0 5px 17px rgba(200, 200, 200, 0.37), 0 7px 17px rgba(200, 200, 200, 0.31);
  transition-duration: 2s;
}

.card>a>img {
  max-width: 100%;
  height: auto;
}

.card>a>h2 {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  color: whitesmoke;
  text-align: center;
  line-height: 1.3em;
  font-size: 1.9rem;
  letter-spacing: 0.1px;
}

.card:hover {
  margin: 1rem auto 4.7rem;
  transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  width: 83%;
  text-align: justify;
  line-height: 1.3em;
  font-size: 1.3rem;
  letter-spacing: 0.1px;
}

footer {
  height: 50px;
  margin-top: auto;
  align-content: center;
  font-family: monospace;
  letter-spacing: 0.2px;
}

#juliogitlab {
  color: goldenrod;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  transition: 250ms ease-out;
}

#juliogitlab:visited {
  color: darkgoldenrod;
}

#juliogitlab:hover {
  color: gold;
  font-size: 1.3em;
  letter-spacing: 0.3px;
  transition-duration: 350ms;
}